.bell-u-1-24,
.bell-u-5-24,
.bell-u-7-24,
.bell-u-11-24,
.bell-u-13-24,
.bell-u-17-24,
.bell-u-19-24,
.bell-u-23-24,
.bell-u-1-12,
.bell-u-5-12,
.bell-u-7-12,
.bell-u-11-12,
.bell-u-1-10,
.bell-u-3-10,
.bell-u-7-10,
.bell-u-9-10,
.bell-u-1-8,
.bell-u-3-8,
.bell-u-5-8,
.bell-u-7-8,
.bell-u-6-7,
.bell-u-5-7,
.bell-u-4-7,
.bell-u-3-7,
.bell-u-2-7,
.bell-u-1-7,
.bell-u-1-6,
.bell-u-5-6,
.bell-u-1-5,
.bell-u-2-5,
.bell-u-3-5,
.bell-u-4-5,
.bell-u-1-4,
.bell-u-3-4,
.bell-u-1-3,
.bell-u-2-3,
.bell-u-1-2,
.bell-u-1{
    display: inline-block\0;
    *display: inline;    
}

/*========================================*/
.bell-u-1-24 {
    width: 4.1357%\0;
    *width: 4.1357%;     
}
.bell-u-5-24 {
    width: 20.8023%\0;
    *width: 20.8023%;
}
.bell-u-7-24 {
    width: 29.1357%\0;
    *width: 29.1357%;
}
.bell-u-11-24 {
    width: 45.8023%\0;
    *width: 45.8023%;
}
.bell-u-13-24 {
    width: 54.1357%\0;
    *width: 54.1357%;
}
.bell-u-17-24 {
    width: 70.8023%\0;
    *width: 70.8023%;
}

.bell-u-19-24 {
    width: 79.1357%\0;
    *width: 79.1357%;
}
.bell-u-23-24 {
    width: 95.8023%\0;
    *width: 95.8023%;
}
/*========================================*/
.bell-u-1-10{
    width:9.9845%\0;
    *width:9.9845%;    
}
.bell-u-3-10{
    width:29.9535%\0;
    *width:29.9535%;
}
.bell-u-7-10{
    width:69.8915%\0;
    *width:69.8915%;
}
.bell-u-9-10{
    width:99.845%\0;
    *width:99.845%;
}
/*========================================*/
.bell-u-1-12 {
    width: 8.3023%\0;
    *width: 8.3023%;    
}
.bell-u-5-12 {
    width: 41.6357%\0;
    *width: 41.6357%;
}
.bell-u-7-12 {
    width: 58.3023%\0;
    *width: 58.3023%;
}
.bell-u-11-12{
    width: 91.6357%\0;
    *width: 91.6357%;
}
/*========================================*/
.bell-u-1-8 {
    width: 12.4690%\0;
    *width: 12.4690%;    
}
.bell-u-3-8{
    width: 37.4690%\0;
    *width: 37.4690%;
}
.bell-u-5-8 {
    width: 62.4690%\0;
    *width: 62.4690%;
}
.bell-u-7-8 {
    width: 87.4690%\0;
    *width: 87.4690%;
}
/*========================================*/
.bell-u-6-7{
    *width:85.716%;
    width:85.716%\0;
}
.bell-u-5-7{
    *width:71.43%;
    width:71.42%\0;
}
.bell-u-4-7{
    *width:57.144%;
    width:57.144%\0;
}
.bell-u-3-7{
    *width:42.858%;
    width:42.858%\0;
}
.bell-u-2-7{
    *width:28.572%;
    width:28.57%\0;
}
.bell-u-1-7{
    *width:14.2457%;
    width:14.2857%\0;
}
/*========================================*/
.bell-u-1-6{
    width: 16.6359%\0;
    *width: 16.6357%;    
}
.bell-u-5-6{
    width: 83.3023%\0;
    *width: 83.3023%;
}
/*========================================*/
.bell-u-1-5{
    width: 19.99%\0;
    *width: 19.9690%;    
}

.bell-u-2-5{
    width: 39.9690%\0;
    *width: 39.9690%;
}

.bell-u-3-5{
    width: 59.9690%\0;
    *width: 59.9690%;
}

.bell-u-4-5{
    width: 79.9690%\0;
    *width: 79.9690%;
}
/*========================================*/
.bell-u-1-4{
    width: 24.99%\0;
    *width: 24.9690%;    
}
.bell-u-3-4{
    width: 74.9690%\0;
    *width: 74.9690%;
}
/*========================================*/
.bell-u-1-3{
    width: 33.3023%\0;
    *width: 33.3023%;
}
.bell-u-2-3{
    width: 66.6357%\0;
    *width: 66.6357%;
}
/*========================================*/
.bell-u-1-2{
    width:49.99%\0;
    *width: 49.9690%;    
}